<div class="breadcrumbs"><%= link_to "Buckets", buckets_path %> > <%= @bucket.name %></div>

<p style="color: green"><%= notice %></p>
<br>

<h1>Edit Your Bucket</h1>

<%= render "form", bucket: @bucket %>
