// Sassy

:root {
  --color-pink-dark: rgb(251, 180, 174);
  --color-blue-dark: rgb(179, 205, 227);
  --color-green-dark: rgb(204, 235, 197);
  --color-lilac-dark: rgb(222, 203, 228);
  --color-yellow-dark: rgb(254, 214, 166);
}
