// Sassy

$breakpoint-desktop: 768px;

:root {
  --color-pink-mid: #fbb4ae;
  --color-pink-light: #fee9e7;
  --color-blue-dark: #5a6772;
  --color-blue-mid: #b3cde3;
  --color-blue-light: #e8f0f7;
  --color-green-mid: #ccebc5;
  --color-green-light: #f0f9ee;
  --color-lilac-mid: #decbe4;
  --color-lilac-light: #f5eff7;
  --color-yellow-mid: #fed9a6;
  --color-yellow-light: #fff4e4;
}

@mixin flow-down {
  display: flex;
  flex-direction: column;
}

@mixin flow-right {
  display: flex;
  flex-direction: row;
}

@mixin full-height {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}

body {
  @include flow-right;
  gap: 24px;

  nav.main {
    @include flow-down;
    @include full-height;
    padding: 24px;
    background-color: var(--color-pink-light);
  }

  main {
    padding: 24px;
  }
}

.card {
  padding: 12px;
  color: var(--color-blue-dark);
  background-color: var(--color-blue-light);
}

.play {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

.table {
  .row {
    @include flow-right;
    gap: 12px;
  }
  .header .cell {
    font-weight: 600;
  }
  .cell {
    min-width: 6rem;
  }
}
