$unit: 24px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;

  & > nav {
    min-height: 100vh;
    min-width: 175px;
    background-color: #eee;
    padding: $unit;
  }

  & > main {
    padding: $unit;
  }
}

.desktop-bucket {
  display: flex;
  gap: 24px;

  .card {
    padding: 12px;
    width: 175px;
    background: #efefef;
    border-radius: 5px;
  }
}

.flow-down {
  display: flex;
  flex-direction: column;
}

.gap-1 {
  gap: 12px;
}
